/* COMMON */
img{
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
.center{
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}
.bold{
    font-weight: 600;
}
.red{
    color: red;
}

/* card */
.ms_card{
    border: 2px solid lightgrey;
}
/* immagine hotel */
.immagine-hotel{
    position: relative;
}
.cuore{
    position: absolute;
    top: 10px;
    right: 2px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
}
/* titolo */
h2{
    margin-top: 10px;
}
/* recensioni */
.circles{
    margin-bottom: 5px;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #09a96c;
    display: inline-block;
    vertical-align: middle;
}
.quantità-recensioni{
    display: inline-block;
    line-height: 10px;
    vertical-align: middle;
}
.recensioni p{
    margin-bottom: 0;
}
.caratteristiche{
    margin-top: 10px;
}
.nascosto{
    display: none;
}
/* prezzi */
.prezzi{
    margin: 15px 0;
}
.ms_flex{
    display: flex;
    justify-content: space-between;
}
.full-price{
    text-decoration: line-through;
}
.discount{
    font-size: 25px;
}
/* bottone offerta */
.bottone-offerta{
    background-color: #ffc107;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    text-align: center;
    padding: 8px 0;
    font-weight: 600;
}
/* plus offerta */
.plus-offerta{
    margin-top: 10px;
}
.plus-offerta .bold{
    font-size: 18px;
}
/* lista siti */
.lista-siti{
    display: none;
}
.sito{
    color: rgba(0, 0, 0, 0.7);
}
.sito i{
    transform: rotate(45deg);
    font-size: 12px;
    vertical-align: text-top;
}
.lista-siti .full-price{
    text-decoration: none;
}
/* confronto prezzi */
.confronto{
    color: rgba(0, 0, 0, 0.7);
}
.lista-siti li{
    margin-bottom: 10px;
}
.linea::before{
    content: '';
    width: 90%;
    height: 2px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 5px;
}

@media screen and (min-width: 992px){
    .ms_card{
        display: flex;
    }
    .immagine-hotel{
        width: 30%;
    }
    .immagine-hotel img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* card content */
    .card-content{
        display: flex;
    }
    .ms_flex{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .small-nascosto{
        display: block;
    }
    /* prezzi */
    .prezzi{
        order: 1;
        width: 35%;
        border-right: 1px dotted grey;
        margin: 0;
        padding-top: 10px;
    }
    /* lista siti */
    .lista-siti{
        display: block;
        text-align: center;
        order: 2;
        width: 20%;
        border-right: 1px dotted grey;
    }
    .bottone-offerta{
        margin-top: 10px;
    }
    .full-price{
        font-size: 25px;
    }
    .recensioni{
        order: 3;
        width: 45%;
        margin-left: 20px;
    }
    .confronto{
        display: none;
    }
}